{{> header }}
			
			<!-- Breadcrumb -->
			<div class="breadcrumb-bar">
				<div class="container-fluid">
					<div class="row align-items-center">
						<div class="col-md-12 col-12">
							<nav aria-label="breadcrumb" class="page-breadcrumb">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="index-2.html">Home</a></li>
									<li class="breadcrumb-item active" aria-current="page">Doctor Profile</li>
								</ol>
							</nav>
							<h2 class="breadcrumb-title">Doctor Profile</h2>
						</div>
					</div>
				</div>
			</div>
			<!-- /Breadcrumb -->
			
			<!-- Page Content -->
			<div class="content">
				<div class="container">

					<!-- Doctor Widget -->
					<div class="card">
						<div class="card-body">
							<div class="doctor-widget">
								<div class="doc-info-left">
									<div class="doctor-img">
										<img src={{doctor.profile}} class="img-fluid" alt="User Image">
									</div>
									<div class="doc-info-cont">
										<h4 class="doc-name">{{doctor.name}}</h4>
										<p class="doc-department"><img src={{speciality.picture}} class="img-fluid" alt="Speciality">{{doctor.title}}</p>
										<div class="rating">
											<i class="fas fa-star filled"></i>
											<i class="fas fa-star filled"></i>
											<i class="fas fa-star filled"></i>
											<i class="fas fa-star filled"></i>
											<i class="fas fa-star"></i>
											<span class="d-inline-block average-rating">(35)</span>
										</div>
									<div class="clinic-booking">
										<a class="apt-btn" href="/feedback?doctorid={{doctor._id}}">FEEDBACK </a>
									</div>
									</div>
								</div>
								<div class="doc-info-right">
									
									<div class="doctor-action">
										{{!-- <a href="javascript:void(0)" class="btn btn-white fav-btn">
											<i class="far fa-bookmark"></i>
										</a> --}}
										{{!-- <a href="chat.html" class="btn btn-white msg-btn">
											<i class="far fa-comment-alt"></i>
										</a> --}}
										{{!-- <a href="javascript:void(0)" class="btn btn-white call-btn" data-toggle="modal" data-target="#voice_call">
											<i class="fas fa-phone"></i>
										</a> --}}
									<a href="pdf/Project Report PDF.pdf" download>
										<img src="pdf/logo.jpg" alt="logo" width="40" height="40">
									</a>
									
									<a href="/streaming?did={{doctor._id}}" class="btn btn-white call-btn" style="margin-left:80px">
											<i class="fas fa-video"></i>
										</a>
									</div>
									
									<div class="clinic-booking">
										<a class="apt-btn" href="/booking?did={{doctor._id}}">Book Appointment</a>
					
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- /Doctor Widget -->
					
					<!-- Doctor Details Tab -->
							<!-- /Doctor Details Tab -->

				</div>
			</div>		
			<!-- /Page Content -->
</script>
<!-- Footer -->
<div id="map"></div>
<script src='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js'></script>
{{!--
<script src='https://www.mapbox.com/mapbox-gl-js/api/#map#on'></script> --}}

<script>
	mapboxgl.accessToken = 'pk.eyJ1IjoibGF2aW5hYWdhcndhbCIsImEiOiJjbDBqN2tiOTUwOXYxM2lyazJ6NTRjMjFuIn0.Uos2u3t-SM8XqpmXKOysHA';
	var map = new mapboxgl.Map({

		container: 'map',
		style: 'mapbox://styles/mapbox/streets-v11',


	});

</script>
{{> footer }}